.nav-top{
    background-color: rgb(47, 47, 114) !important;
}

.nav-link{
    color: white !important;
    margin-top: 1em;
}

footer{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
}

.img-car{
    max-height: 600px !important;
}

.divisao{
    background-color: rgb(47, 47, 114) !important;
    text-align: center !important;
    color: white !important;
    padding: 3em !important;
    
}
.carousel-caption {
    background: #00000060 !important;
    border-radius: 5%;
   
   }

   .img-logo{
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.65);
   }

.sec-pacotes{
    margin-left:10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 1% !important;

}

.card{
    padding: 1% !important;
    margin: 0% 1% 1% 0% !important;
}

.card p{
    text-align: justify !important ;
}

.card h4{
    color: brown !important;
}

.sec-contato{
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 5% !important;
}

.links {
    text-align: center;
    padding: 1em;
    color: rgb(0, 0, 0);
}

.mapa{
    margin-top: 5%!important;
}



.back-to-home-button {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #3846c2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .back-to-home-button:hover {
    background-color: #0d1b9f;
  }